<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <div class="divRegistro">

                <%  if(categoriaEdit == "vacio") { %>

                <form class="registro" action="/product/categorias" method="post" >
                    <% if(locals.errors && oldData) { %>
                    <% console.log(oldData) %>
                    <% } %>
            
                    <h5>Categorias de Productos</h5>



                    <div>
                        <select class="form-usu" name="marca" id="selectorId">
                            <option value="" disabled selected required>- Seleccione la marca - </option>
                            <% nameCategorias.forEach(categoria => { %>
                            <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
                            <% }); %>
                        </select>

                    </div>
                    <div> 
                        <a href="#"> <button class="botEnter" type="submit">Añadir Categoría</button> </a>
                        <a class="linkEditar" href="/product/tablasadmin"> <button class="botEnterTablas" type="button">Ir a Edición Tablas</button>  </a>
                    </div>
                </form>
                <% } else { %>



                <form class="registro" action="/product/categorias" method="post" >
                    <% if(locals.errors && oldData) { %>
                    <% console.log(oldData) %>
                    <% } %>
            
                    <h5>Categorias de Productos</h5>
                            
                    <div>
                        <input class="form-usu" type="text" name="categoria" value="<%= locals.oldData ? oldData.nombre : null %>"  placeholder="  Categoría">
                        
                        <% if(locals.errors && errors.nombre) { %>
                            <p class="error"> <%= errors.nombre.msg %> </p>
                            <% } %>
                    </div>
                    
                    <div> 
                        <a href="#"> <button class="botEnter" type="submit">Añadir Categoría</button> </a>
                    </div>
                
                </form>


                <% } %>

            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      