<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="mainEdicion">
        <form class="edicion-form" action="/product/producto" method="POST" enctype="multipart/form-data" >
            <h5> Creación de producto</h5>
            <div>
                <input type="text" name="nombre" placeholder="  Nombre del producto">
            </div>
            <div>
                <textarea name="descripcion" placeholder=" Descripción del producto"></textarea>
            </div>
            <div class="imagenesEdicion">
                <p>Imagenes del producto</p>
                <input type="file" name="imagen" accept=".png, .jpg, .jpeg" multiple>
            </div>           
            <div class="categoriaEdicion">
                <p>Categorías</p>
                <label for="tablaCategorias">Para seleccionar más de una categoría mantener presionada la tecla control</label>
                <select multiple class="form-cat" name="categoria" id="tablaCategorias">
                    <option value="" disabled selected required>- Seleccione categorías - </option>
                        <% nameCategorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>"><%= categoria.categoria %></option>
                        <% }); %>
                </select>
                <div class="categoriaEdicion">
                    <p>Marcas</p>
                    <select class="form-mar" name="marca" id="tablaMarcas">
                        <option value="" disabled selected required>- Seleccione marca - </option>
                            <% nameMarcas.forEach(marca => { %>
                            <option value="<%= marca.id %>"><%= marca.nombre %></option>
                            <% }); %>
                    </select>
                <div class="precioEdicion">
                <input type="number" name="precio" value="precio" placeholder="  Precio del producto">
            </div>           
            <div class="botonesEdicion">
                <div>
                    <button class="botones botonGuardar" type="submit" name="guardar" value="Guardar">Guardar</button>
                </div>
                <div>
                    <button class="botones botonEliminar" type="reset" name="borrar" value="borrar">Borrar</button>
                </div>
                <div>
                    <a href="/"><button class="botones botonCerrar" type="button" name="cerrar" value="cerrar">Cerrar</button></a>
                </div> 
            </div>               
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
