<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="mainEdicion">
        <form class="edicion-form" action="/product/productoedit" method="POST" >
            <h5>Edición de producto</h5>
    <!--        <div class="buscaEdit">
                <label class= "codProd" for="codigo"> Buscar producto por código</label>
                <input type="text" name="texto" id ="codigo" placeholder=" Ingresá el nombre del producto a buscar" >
                <button class="buscadorEdicion" type="submit">
                    <i id="lupa-edicion" class="fa-solid fa-magnifying-glass"></i>
                </button>                
            </div>
    -->
            <div>
                <select class="form-usu" name="idProducto" id="selectorId">
                    <option value="" disabled selected required>- Seleccione el producto - </option>
                    <% nameProducts.forEach(product => { %>
                    <option value="<%= product.id %>"><%= product.nombre_producto %></option>
                    <% }); %>
                </select>
                
            </div>
            <div>
                    <button class="botones edicion-form" type="submit"  >Editar</button>
            </div>
        </form>
        
    <!--    <div class="botonesEdicion botonDeleteProd">
            <form class="edicion-form deleteProdForm" action="/product/producto/<%= prod.id%>" method="post">
                <button class="botones botonEliminar">Editar</button>
            </form>    
        </div>
    -->
    </main>
    <%- include('../partials/footer') %>
</body>
</html>



