<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <div class="divRegistro">
                <form class="registro" action="/product/marcas" method="post" >
                    <% if(locals.errors && oldData) { %>
                    <% console.log(oldData) %>
                    <% } %>
            
                    <h5>Marcas de Productos</h5>

                    <div>
                        <select name="marca" id="selectorId">
                            <option value="" disabled selected>- Seleccione la marca - </option>
                            <% nameMarcas.forEach(marca => { %>
                            <option value="<%= marca.id %>"><%= marca.nombre %></option>
                            <% }); %>
                        </select>


                    </div>

                                               
                    <div>
                        <input class="form-usu" type="text" name="marca" value="<%= locals.oldData ? oldData.marca : null %>"  placeholder="  Marca">
                        
                        <% if(locals.errors && errors.nombre) { %>
                            <p class="error"> <%= errors.nombre.msg %> </p>
                            <% } %>
                    </div>
                    
                    <div> 
                        <a href="#"> <button class="botEnter" type="submit">Añadir Marca</button> </a>
                    </div>
                
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      