<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <div class="divRegistro">
                <form class="registro" action="/product/marcas/delete/<%= marcaEdit.id %>?_method=DELETE" method="post" >
                        <h5>Marcas de Productos</h5>
                        <div>
                            <p>Seguro que desea borrar la marca <strong> <em>--  <%=marcaEdit.nombre%>  --</em> </strong>?</p>                            
                            <% if(locals.errors && errors.nombre) { %>
                                <p class="error"> <%= errors.nombre.msg %> </p>
                                <% } %>
                        </div>
                        <div> 
                            <a href="#"> <button class="botEnter" type="submit">Eliminar Marca</button> </a>
                                <a class="linkEditar" href="/product/tablasadmin"> <button class="botEnterTablas" type="button">NO, ir a Edición Tablas</button>  </a>
                        </div>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      