<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <div class="divRegistro">

                <%  if(marcaEdit == "vacio") { %> 

                <form class="registro" action="/product/marcas/:id" method="post" >
                    <% if(locals.errors && oldData) { %>
                    <% console.log(oldData) %>
                    <% } %>
            
                    <h5>Marcas de Productos</h5>
                    


                    <div>
                        <select class="form-usu" name="marca" id="selectorId">
                            <option value="" disabled selected>- Seleccione la marca - </option>
                            <% nameMarcas.forEach(marca => { %>
                            <option value="<%= marca.id %>"><%= marca.nombre %></option>
                            <% }); %>
                        </select>

                    </div>
                    <div> 
                        <a href="#"> <button class="botEnter" type="submit">Editar Marca</button> </a>
                        <a class="linkEditar" href="/product/tablasadmin"> <button class="botEnterTablas" type="button">Ir a Edición Tablas</button>  </a>
                    </div>
                </form>
                <% } else { %> 

                <form class="registro" action="/product/marcas/update/<%= marcaEdit.id %>?_method=PUT" method="post" >
                        <% if(locals.errors && oldData) { %>
                        <% console.log(oldData) %>
                        <% } %>
                
                        <h5>Marcas de Productos</h5>


                        <div>
                            <input class="form-usu" type="text" name="marca" value="<%= marcaEdit.nombre %>"  placeholder="  Marca">

                <!--            <input class="form-usu" type="text" name="marca" value="<%= //locals.oldData ? oldData.marca : null %>"  placeholder="  Marca">
                -->            
                            <% if(locals.errors && errors.nombre) { %>
                                <p class="error"> <%= errors.nombre.msg %> </p>
                                <% } %>
                        </div>

                        <div> 
                            <a href="#"> <button class="botEnter" type="submit">Modificar Marca</button> </a>
                            <a class="linkEditar" href="/product/marcas/delete/<%= marcaEdit.id %>"> <button class="botEnterTablas" type="button">Eliminar Marca</button>  </a>
                            <a class="linkEditar" href="/product/tablasadmin"> <button class="botEnterTablas" type="button">Ir a Edición Tablas</button>  </a>
                        </div>
                </form>




                <% } %>
                
    <!--                <div> 
                        <a href="#"> <button class="botEnter" type="submit">Editar Marca</button> </a>
                    </div>
               
                </form> 
    --> 
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      