<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head') %>
<%-include('../partials/header')%>
<body>
<<<<<<< HEAD
    <main class="mainProductos">
        <h3 id="tituloProduct">Productos</h3>
        <% productos.forEach((row) =>{ %>
        <article>    
        <div class="imagenesProd">
            <img src="/images/<%= row.imagen %>" alt = "<%= row.imagen %>">
            <h4><%= row.name %></h4>
            <p class="precio"> $ <%= row.price %></p>
        </div> 
        </article>
        <% }) %>
        <article>
        <div class="imagenesProd">
            <img src="/images/camiseta_ares_26_imagen1.png" alt="imgcamiseta">
=======
<main class="mainProductos">
        <h3 id="tituloProduct">Productos</h3>
        <% prod.forEach((row) =>{ %>
        <article> 
               
        <div class="imagenesProd">
            <img src="/images/<%= row.imagen %>" alt = "<%= row.imagen %>">
            <h4><%= row.nombre %></h4>
            <p class="precio"> $ <%= row.precio %></p>
        </div>
        
        </article>
        <% }) %>
        <!--
        <article>
        <div class="imagenesProd">
            <img src="/images/camiseta_ares_26_imagen1.jpg" alt="imgcamiseta">
>>>>>>> origin/rama-gabriel
        </div>
        </article>
        <article>
            <div class="imagenesProd">
<<<<<<< HEAD
            <img src="/images/guide_34_escalada_imagen1.png" alt="imgbolsa">
=======
            <img src="/images/guide_34_escalada_imagen1.jpg" alt="imgbolsa">
>>>>>>> origin/rama-gabriel
            </div>
        </article>
        <article>
        <div class="imagenesProd">
<<<<<<< HEAD
            <img src="/images/pantalon_nea_3_gore_tex_2c_performance_shell_nino_imagen3.png" alt="imgpantalon">
        </div>
        </article>
</main>    
=======
            <img src="/images/pantalon_nea_3_gore_tex_2c_performance_shell_nino_imagen3.jpg" alt="imgpantalon">
        </div>
        </article>-->
</main>   
>>>>>>> origin/rama-gabriel
</body>

<%-include('../partials/footer')%>

</html>