<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head') %>
<%-include('../partials/header')%>
<body>
    <main class="mainProductos">
        <div id="productTitle">
            <h3 id="tituloProduct">Productos</h3>
        </div>
        <div class="galeriaProductos">
            <% prod.forEach((row) =>{ %>
            <article class="productArticle"> 
                <div class="imagenesProd">
                    <a id="linkProd" href="/product/producto"><div class="contenedorImagenProd">
                        <img id="imagenProducto" src="<%= row.productoFoto[0].imagen_producto %>">
                    </div></a>                         
                        <h4><%= row.nombre_producto %></h4>
                        <p class="precio"> $ <%= row.precio_producto %></p>
                </div>        
            </article>
            <% }) %>
        </div>
    </main>   
</body>
<%-include('../partials/footer')%>
</html>