<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head') %>
<%-include('../partials/header')%>
<body>
    <main class="mainProductos">
        <!--<div id="productTitle">
            <h2 id="tituloProduct">PRODUCTOS</h2>
        </div>-->
        <div class="galeriaProductos">


    <!--        <% //prod.forEach((row) =>{ %>
                <% //console.log(row.id) %>
                <article class="productArticle"> 
                    <div class="imagenesProd">
                        <a id="linkProd" href="/product/producto/<%=// row.id %>"><div class="contenedorImagenProd">
                            <img id="imagenProducto" src="<%= //row.productoFoto[0].imagen_producto %>">
                        </div></a>                         
                            <h4><%= //row.nombre_producto %></h4>
                            <p class="precio"> $ <%=// row.precio_producto %></p>
                    </div>        
                </article>
            <% //}) %>
    -->

            <% prod.forEach((categ) =>{ %> 
                <div class="container-title">
                <h2><%=categ.categoria%></h2>
                </div>
                <section class="categorySection">
                
                    <%categ.productos.forEach((row) =>{
                    %>
                    
                    
                        <% console.log(row.id) %>
                        <article class="productArticle"> 
                            <div class="imagenesProd">
                                <a id="linkProd" href="/product/producto/<%= row.id %>"><div class="contenedorImagenProd">
                                    <img id="imagenProducto" src="<%= row.productoFoto[0].imagen_producto %>">
                                </div></a>                         
                                    <h4><%= row.nombre_producto %></h4>
                                    <p class="precio"> $ <%= row.precio_producto %></p>
                            </div>        
                        </article>
                    
                    <%})%>
                </section>
                
            <%}) %>


            



            
    



        </div>
    </main> 
      
</body>
<%-include('../partials/footer')%>
</html>