<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <div class="divRegistro">
                <form class="registro" action="/user/categoriausers" method="get" >
                    <% if(locals.errors && oldData) { %>
                    <% console.log(oldData) %>
                    <% } %>
            
                    <h5>Categorias de Usuarios</h5>

                    
                    </div>

                                               
                    <div>
                        <input class="form-usu" type="text" name="tipo" value="<%= locals.oldData ? oldData.marca : null %>"  placeholder="  Categoria de Usuario">
                        
                        <% if(locals.errors && errors.nombre) { %>
                            <p class="error"> <%=errors.nombre.msg %> </p>
                            <% } %>
                    </div>
                    
                    <div> 
                        <a href="/product/marcas/<%= marca.id %>"> <button class="botEnter" type="submit">Editar Marca</button> </a>
                    </div>
                
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      