<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <div class="divRegistro">
                <form class="registro" action="/user/categorias" method="post" >
                    <h5>Categorias de Usuario</h5>                            
                    <div>
                        <input class="form-usu" type="text" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>"  placeholder=" Nombre">                        
                        <% if(locals.errors && errors.nombre) { %>
                            <p class="error"> <%= errors.nombre.msg %> </p>
                            <% } %>
                    </div>                    
                    <div> 
                        <a href="#"> <button class="botEnter" type="submit">Añadir</button> </a>
                    </div>                
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      