<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-perfil">            
            <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
            <div class="formPerfil">
                <form class="registroPerfil" action="/user/perfil/<%=usuario.id%>?_method=PUT" method="POST" enctype="multipart/form-data">            
                    <h5>Perfil de Usuario</h5>                            
                    <div>
                        <input class="form-usu-perfil" type="text" name="nombre" value= "<%=usuario.first_name%>" placeholder="  Nombre">
                        <p id="errorNombre"  class="error"></p>  
                    </div>
                    <div> 
                        <input class="form-usu-perfil" type="text" name="apellido" value= "<%=usuario.last_name%>" placeholder="  Apellido">
                        <p id="errorApellido"  class="error"></p>
                    </div>
                    <div>
                        <input class="form-usu-perfil" type="number" name="cuit" value= "<%=usuario.cuil%>" placeholder="  DNI o CUIT">
                    </div>
                    <div>
                        <input class="form-usu-perfil" type="date" name="nacimiento" value= "<%=usuario.fecha_nacimiento%>" placeholder=" Fecha de nacimiento ">
                    </div>
                    <div>
                        <input class="form-usu-perfil" type="text" name="domicilio" value= "<%=usuario.direccion%>" placeholder="  Domicilio">
                    </div>
                    <div> 
                        <input class="form-usu-perfil" type="text" name="email" value= "<%=usuario.correo%>" placeholder="  email@gmail.com">
                        <p id="errorEmail"  class="error"></p> 
                    </div> 
                    <div> 
                        <div class="labelPerfil">
                            <label>Imagen de perfil</label>
                        </div>                        
                    </div>
                    <div id="archivoImagenPerfil">
                            <div id="imagenExistente">                                
                                <img id="fotoPerfil" src="/images/<%= usuario.image%>">
                            </div>
                            <p id="errorImagen"  class="error"></p>  
                            <input class="filePerfil" type="file" name="imagen">                           
                    </div>
                    <div>
                        <h5 id="modContrasenia">Modificar Contraseña</h5>                     
                        <div> 
                            <input class="form-usu-perfil" type="password" name="contrasenia"  value="" placeholder="  Contraseña">
                            <p id="errores"  class="error"></p>
                        </div> 
                        <div>
                            <input class="form-usu-perfil" type="password" name="confirm-contrasenia"  value= "" placeholder="  Confirmar contraseña">
                            <p id="errores"  class="error"></p>
                        </div>
                    </div> 
                    <div class="botonesEdicion" id="divBotonesEdicionPerfil">
                        <div>
                            <button class="botones botonGuardar" type="submit" name="guardar" value="Guardar">Guardar</button>
                        </div>
                        <div>
                            <a href="/"><button class="botones botonCerrar" type="button" name="cerrar" value="cerrar">Cerrar</button></a>
                        </div> 
                    </div>
                </form>
                <div class="botonesEdicion" id="botonDeletePerfil">
                    <form class="edicion-form deletePerfilForm" action="/user/perfil/eliminar/<%=usuario.id%>?_method=DELETE" method="post">
                        <button class="botones botonEliminar">Eliminar</button>
                    </form>    
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
<!--        <script src="/js/perfil.js"></script>  -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
    </body>                       
</html>    