<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main class="main-registro">
             <img src="../images/patagonia-argentina.jpg" alt="fondo" class="fondo-image" />
             <div class="divRegistro">
             <form class="registro" action="/user/registro" method="post" enctype="multipart/form-data">
                <h5>Registro de Usuario</h5>                        
                <div>
                    <input class="form-usu" type="text" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>"  placeholder="  Nombre">                    
                    <% if(locals.errors && errors.nombre) { %>
                        <p class="error"> <%= errors.nombre.msg %> </p>
                        <% } %>
                </div>
                <div> 
                    <input class="form-usu" type="text" name="apellido" value="<%= locals.oldData ? oldData.apellido : null %>" placeholder="  Apellido">
                    <% if(locals.errors && errors.apellido) { %>
                        <p class="error"> <%= errors.apellido.msg %> </p>
                        <% } %>
                </div>
                <div>
                    <input class="form-usu" type="number" name="cuit" value="<%= locals.oldData ? oldData.cuit : null %>" placeholder="  DNI o CUIT">
                    <% if(locals.cuit && errors.cuit) { %>
                        <p class="error"> <%= errors.cuit.msg %> </p>
                        <% } %>
                </div>
                <div>
                    <input class="form-usu" type="date" name="nacimiento" value="<%= locals.oldData ? oldData.nacimiento : null %>" placeholder=" Fecha de nacimiento ">
                    <% if(locals.nacimiento && errors.nacimiento) { %>
                        <p class="error"> <%= errors.nacimiento.msg %> </p>
                        <% } %>
                </div>
                <div>
                    <input class="form-usu" type="text" name="domicilio" value="<%= locals.oldData ? oldData.domicilio : null %>" placeholder="  Domicilio">
                    <% if(locals.domicilio && errors.domicilio) { %>
                        <p class="error"> <%= errors.domicilio.msg %> </p>
                        <% } %>
                </div>
                <div> 
                    <input class="form-usu" type="text" name="email" value="<%= locals.oldData ? oldData.email : null %>" placeholder="  email@gmail.com">
                    <% if(locals.errors && errors.email) { %>
                        <p class="error"> <%= errors.email.msg %> </p>
                        <% } %>
                </div>
                <div> 
                    <div class="labelRegistro">
                        <label>Imagen de perfil</label>
                    </div>                    
                    <input class="fileRegistro" type="file" name="imagen">
                    <% if(locals.errors && errors.image) { %>
                        <p class="error"> <%= errors.image.msg %> </p>
                    <% } %>
                </div>
                <div>
                <h5 id="hContrasenia">Ingresar Contraseña</h5>               
                <div> 
                    <input class="form-usu" type="password" name="contrasenia"  value="" placeholder="  Contraseña">
                    <% if(locals.errors && errors.contrasenia) { %>
                    <p class="error"> <%= errors.contrasenia.msg %> </p>
                    <% } %>
                </div> 
                <div>
                    <input class="form-usu" type="password" name="confirm-contrasenia"  value= "" placeholder="  Confirmar contraseña">
                </div>
                </div> 
                    <a href="#"> <button class="botEnter" type="submit">Registrarse</button> </a>
                </div>              
            </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>                       
</html>    
      